<ul id="logout_menu" class="dropdown-content">
	<li><a class="waves-effect waves-light right" onsubmit=(route-action 'logout')>Logout</a></li>
</ul>

<nav>
    <div class="nav-wrapper grey lighten-2">
        <div class="row black-text">
            <div class="bt-logo col s4 left-align">{{logo}}</div>
            <div class="app-logo col s4 center-align">{{title}}</div>
            <div class="user-name col s4 right-align">
            <!-- Dropdown Structure -->
	            <ul class="right hide-on-med-and-down">
	  				<li>
	  					<a class="dropdown-button black-text" href="#!" data-activates="logout_menu" {{action "dropDown" post on="mouseUp"}}>
	  						{{username}}
	  						<i class="material-icons right">arrow_drop_down</i>
  						</a>
  					</li>
				</ul>
			</div>
        </div>
    </div>
</nav>
{{yield}}
